@font-face {
  font-family: Mazzard1;
  src: url("../public/Mazzard/MazzardM-Medium.ttf");
}

@font-face {
  font-family: Mazzard2;
  src: url("../public/Mazzard/MazzardM-Regular.ttf");
}


@font-face {
  font-family: Mazzard3;
  src: url("../public/Mazzard/MazzardH-Light.ttf");
}

@font-face {
  font-family: Mazzard4;
  src: url("../public/Mazzard/MazzardH-SemiBold.ttf");
}
*{
  text-decoration: none;
}